<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Season" value="Winters" />
    <add key="microsoft.visualstudio.teamsystems.backupinfo" value="1;web.config.backup" />
    <add key="microsoft.visualstudio.teamsystems.aspnetdevserver:/" value="3221;True;3516;1;-8588385325778887456" />
  </appSettings>
  <connectionStrings>
    <add name="CVENT_SURVEYConnectionString" connectionString="Data Source=INDBA02\DEV;Initial Catalog=CVENT_SURVEY;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="CVENT_PRODConnectionString" connectionString="Data Source=INDBA02\DEV;Initial Catalog=CVENT_PROD;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <customErrors mode="Off" defaultRedirect="ErrorPage.aspx" />
    <compilation debug="true">
      <expressionBuilders>
        <add expressionPrefix="MyCustomExpr" type="MyExpressionForSeason" />
      </expressionBuilders>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpModules>
      <!--<add name="TestModule" type="JQueryLearning.ModuleClassDemo, JQueryLearning "/>-->
    </httpModules>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="EndpBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="ServiceWCF">
        <endpoint address="http://localhost/SampleWCF/Service1.svc" binding="webHttpBinding" contract="Service1.IService1" behaviorConfiguration="EndpBehavior" />
      </service>
    </services>
  </system.serviceModel>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>